.home-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    p {
      margin: 1rem;
      padding: 0px 2.5rem;
      color: #705f56;
      font-size: larger;
    }
    img {
      width: 80%;
    }
  }

  .menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #d4b39c;
    padding: 0px 1rem;
    justify-content: center;
    a {
      width: 100%;
      text-align: center;
      padding: 1.8rem 0px;
      border-bottom: 1px solid #f8f3f2;
      color: #fcfcfc;
      font-size: 1.9rem;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        background-color: #f8f3f230;
        font-weight: 500;
      }
      &:last-child {
        border: none;
      }
    }
  }
}
