@font-face {
  font-family: Cardo;
  src: url("../fonts/Cardo/Cardo-Regular.ttf");
}

@font-face {
  font-family: CardoBold;
  src: url("../fonts/Cardo/Cardo-Bold.ttf");
}

.overview-wrapper {
  .top-container {
    display: flex;
    gap: 4rem;
    justify-content: center;
    padding: 1rem;
    color: #382119;
  }
  .chart-container {
    margin: 1rem;
    min-width: 500px;
    max-width: 1000px;
    margin: auto;
  }
  .chart-desc {
    font-size: 1.4rem;
    font-family: CardoBold;
    font-family: Cardo;
    margin: 1rem;
    display: flex;
    align-items: center;
    padding: 1rem;
  }
}
