@font-face {
  font-family: CardoBold;
  src: url("../fonts/Cardo/Cardo-Bold.ttf");
}

.overview-wrapper {
  .top-container {
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
    font-family: CardoBold;
    font-size: 1.4rem;
    color: #382119;
    .chart-container {
      margin: 0.5rem;
      width: 500px;
    }
  }
}
