@font-face {
  font-family: Cardo;
  src: url("../fonts/Cardo/Cardo-Regular.ttf");
}

@font-face {
  font-family: CG;
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf");
}

.overview-wrapper {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;

  .menu-container {
    width: calc(100% - 1.05rem);
    position: fixed;
  }

  section {
    margin: 0;
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    gap: 8rem;
    align-items: center;
    padding: 8rem;
    box-sizing: border-box;
    div {
      width: 100%;
    }
    .desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      span {
        color: #382119;
        font-size: 1.2rem;
        font-family: Cardo;
        padding: 1rem;
        text-align: justify;
      }
      button {
        cursor: pointer;
        padding: 0.6rem 1.4rem;
        color: #382119;
        background-color: #76bacb;
        outline: 1px solid #fff2e8;
        font-family: Cardo;
        font-size: 1rem;
        border: none;
        &:hover {
          background-color: #abc3c9;
          color: #fff2e8;
          outline: none;
        }
      }
    }
    .row {
      flex-direction: row;
      justify-content: space-evenly;
      button,
      span {
        margin-top: -1rem;
      }
    }
  }

  .chart-container {
    flex-direction: column;
    padding: 4rem 8rem;
    gap: 0.5rem;
    .bigger {
      width: 1000px;
    }
  }

  .first-container {
    flex-direction: column;
    gap: 4rem;
    padding: 0;
    .heading {
      margin-top: 5rem;
      font-family: CG;
      font-size: 2.4rem;
      text-align: center;
      color: #382119;
    }
    .chart {
      display: flex;
      gap: 8rem;
      align-items: center;
      padding: 0px 6rem;
      box-sizing: border-box;
    }
  }

  .second-container {
    gap: 2rem;
    .chart {
      width: 150%;
    }
  }

  .smaller {
    gap: 0rem;
    flex-wrap: wrap;
    .chart {
      width: auto;
      flex-grow: 1;
    }
    .writeup {
      text-align: justify;
      color: #382119;
      font-size: 1.1rem;
      font-family: Cardo;
      padding: 1rem;
    }
  }
}
