@font-face {
  font-family: Cardo;
  src: url("../fonts/Cardo/Cardo-Regular.ttf");
}

@font-face {
  font-family: CardoBold;
  src: url("../fonts/Cardo/Cardo-Bold.ttf");
}

.tools-wrapper {
  width: 100%;
  height: 100%;
  color: #4e2f20;
  .back-button {
    width: 75px;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
    cursor: pointer;
    img {
      width: 15px;
    }
  }
  .tabs-container {
    display: flex;
    height: 80%;
    margin-top: 2rem;
    .tab-pane {
      font-family: Cardo;
      flex-grow: 1;
      width: 20%;
      height: 11.2rem;
      margin-top: 10%;
      box-sizing: border-box;
      background-color: #abc3c9;
      display: flex;
      flex-direction: column;
      .tab-pane-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1.8rem 0;
        border-bottom: 1px solid #e0dcd3;
        color: #382119;
        font-size: 1.4rem;
        cursor: pointer;
        &:hover {
          background-color: #e0dcd330;
          font-family: CardoBold;
        }
        &:last-child {
          border: none;
        }
      }
      .disabled {
        background-color: #e0dcd330;
        cursor: context-menu;
        font-family: CardoBold;
      }
    }
    .tab-content {
      flex-grow: 2;
      width: 60%;
      padding-top: 2rem;
      .heading {
        font-family: Cardo;
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 0.5rem;
      }
      .description {
        font-family: Cardo;
        font-size: 1.1rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
        text-align: center;
      }
    }
  }
  .result {
    padding: 0.5rem 2rem;
  }
}
