.com-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
  h3 {
    margin: 0.5rem 0;
    border-bottom: 1px solid #4e2f20;
  }
  .form-group {
    padding: 0.5rem 0 1rem 0;
    display: flex;
    gap: 1.4rem;
    flex-wrap: wrap;
    .form-group-item {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      input {
        cursor: pointer;
      }
      label {
        color: #4e2f20;
      }
    }
  }
  .buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin: 0.5rem 0;
    button {
      padding: 0.2rem 0.4rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      img {
        width: 14px;
      }
    }
  }
  .form-range {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0.2rem;
    .form-range-item {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      padding: 0.25rem 0.5rem;
      input {
        width: 40px;
      }
      &:not(:last-child) {
        border-right: 1px solid #4e2f20;
      }
    }
  }
  .form-group-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    input {
      width: 20%;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      justify-content: center;
      font-size: 1.1rem;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
  }
}
