.menu-wrapper {
  display: flex;
  background-color: #d4b39c;
  a {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    img {
      height: 50px;
    }
  }
  .links-wrapper {
    padding: 0.5rem 4rem 0.5rem 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    a {
      text-decoration: none;
      border-right: 2px solid #2d221b;
      padding: 0.5rem 3rem;
      color: #2d221b;
      text-align: center;
      font-size: large;
      margin: 0;
      &:last-child {
        border: none;
      }
      &:hover {
        background-color: #f8f3f230;
        font-weight: 500;
      }
    }
    .disabled {
      cursor: context-menu;
      background-color: #f8f3f230;
      font-weight: 500;
    }
  }
}
