@font-face {
  font-family: CGBold;
  src: url("../fonts/Cardo/Cardo-Bold.ttf");
}

@font-face {
  font-family: CG;
  src: url("../fonts/Cardo/Cardo-Regular.ttf");
}

.menu-wrapper {
  display: flex;
  background-color: #abc3c9;
  font-family: CG;
  a {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    text-decoration: none;
    .logo-container {
      font-family: CG;
      font-size: 1.5rem;
      color: #382119;
      .bigger {
        font-size: 3rem;
      }
      .smaller {
        margin-bottom: -1.5rem;
      }
    }
  }
  .links-wrapper {
    padding: 0.5rem 4rem 0.5rem 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    a {
      text-decoration: none;
      border-right: 2px solid #382119;
      padding: 0.5rem 2.5rem;
      color: #382119;
      text-align: center;
      font-size: large;
      margin: 0;
      &:last-child {
        border: none;
      }
      &:hover {
        background-color: #e0dcd330;
        font-family: CGBold;
        padding: 0rem 2.5rem;
      }
    }
    .disabled {
      cursor: context-menu;
      background-color: #e0dcd330;
      font-family: CGBold;
      &:hover {
        padding: 0.5rem 2.5rem;
      }
    }
  }
}
